## Predict

In [26]:
import pandas as pd
predict1 = pd.read_csv("inputs/predict.csv")

In [27]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
predict1["labcol"] = le.fit_transform(predict1["color"])
predict1["labcol"]

0        5
1        4
2        5
3        5
4        4
        ..
13480    1
13481    2
13482    2
13483    2
13484    3
Name: labcol, Length: 13485, dtype: int64

In [28]:
predict1.drop(["id", "cut", "color", "clarity"], axis=1, inplace = True)

In [29]:
predict1.drop(["depth", "table"], axis=1, inplace = True)

In [30]:
predict1

       carat     x     y     z  labcol
0       2.36  8.68  8.57  5.24       5
1       2.04  8.18  8.23  5.09       4
2       0.51  5.18  5.19  3.20       5
3       0.30  4.32  4.33  2.65       5
4       0.96  6.11  5.98  4.16       4
...      ...   ...   ...   ...     ...
13480   0.53  5.23  5.17  3.16       1
13481   1.01  6.32  6.38  3.99       2
13482   0.92  6.29  6.26  3.81       2
13483   0.39  4.70  4.72  2.92       2
13484   0.62  5.46  5.51  3.41       3

[13485 rows x 5 columns]

In [31]:
predict1.to_csv("outputs/predict1.csv", index = False)